.card{
    background: #FFFFFF;
    box-shadow: 2.48904px 4.97807px 12.4452px rgba(0, 0, 0, 0.25);
    border-radius: 29.8684px;
    width: 24rem;
    min-height: 55rem;  
    transform: 1;
    position: relative;
}

.header{
    position: relative;
    width: 100%;
    height: 5rem;
}

.header h1{
    position: absolute;
    text-align: center;
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 700;
    font-size:3.8ch;
    line-height: 82px;
    text-align: center;
    text-transform: uppercase;
    color: #FFFFFF;
    left: 0;
    right: 0;   
}

.header img{
    border-top-left-radius: 29.8684px;
    border-top-right-radius: 29.8684px;
    position: absolute;
    right: 0;
    left: 0;
    z-index: 0;
    width: 100%;
}

.flex {
    display:  flex;
    justify-content: center;
}

.row{
    flex-direction:  row;
}

.cols{
    flex-direction: column;
}

.cardBody{
    width: 100%;
    text-align: center;
    position: absolute;
    top: 50%;
    bottom: 50%;
    left: 0;
    right: 0;

}


.Green  , .Purple{
    transform: scale(0.8);
}

/* CARD BODY  */

.cardBody :first-child h1{
    display: inline-block;
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 8ch;
    line-height: 136px;
    text-align: center;
    text-transform: capitalize;
    color: #60606A;
}
.small{
    font-size: 2ch;
}

.container{
    width: 80%;
    margin: 0% auto;
    text-align: left;
}

.container li{
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 2ch;
    line-height: 39px;
    text-align: center;
    text-transform: capitalize;
    color: #F7941D;
}

.Green li{
    color: #00A89D;
}

.Purple li{
    color: #7130AA;
}

.btnContainer{
    display: flex;
    justify-content: center;
    align-items: center;
    position:absolute;
    bottom: 1rem;
    left: 0;
    width: 100%;
}

.btnContainer button{
    width: 15rem;
    height: 3.5rem;
    left: 116.09px;
    top: 735.21px;
    background: #263238;
    border-radius: 34.7477px;
}

.btnContainer span{
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 3.7ch;
    line-height: 36px;
    text-align: center;
    text-transform: capitalize;
    color: #FFFFFF;

}

.flex{
    
}